.footer_wrapper {
    width: 100%;
    background-color: rgb(232, 220, 196);
    border-top: 1px solid var(--main_dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.footer_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    color: var(--main_dark);
    font-size: 14px;
    flex-wrap: wrap;
    gap: 30px;
}
.footer_content h4 {
    color: var(--main_dark);
    margin-left: 0;
    text-align: center;
}
.logo {
    padding: 20px;
    border-radius: 20%;
    background-color: rgb(232, 220, 196);
}
.logo img {
    width: 200px;
}
.under_footer {
    background-color: var(--main_dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 0.7em;
}
@media only screen and (orientation: portrait) {
    .logo img {
        width: 220px;
    }
    .footer_content {
        flex-direction: column;
    }
}