.footer_wrapper {
    width: 100%;
    background-color: var(--main_dark);
    color: var(--white);
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.footer_content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    color: var(--white);
    font-size: 14px;
    flex-wrap: wrap;
    gap: 30px;
}
.footer_content h4 {
    color: var(--white);
    margin-left: 0;
    text-align: center;
}
