.slider {
    width: 100%;
    height: 100dvh;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
    background-color: var(--main_dark);
}

.slider_image {
    background-position: center;
    background-size: cover;
    min-width: calc(100vw / 3);
    height: 100dvh;
}

.slider_overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
}

.button_wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5em;
}
.slider h1 {
    color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .slider {
        max-height: calc(100vh - 80px);
        overflow: hidden;
        top: 80px;
    }

    .button_wrapper {
        bottom: -5%;
    }
}
