.slider {
    background-image: url("./main_pic.webp");
    width: 100vw;
    height: calc(100vh - 80px);
    background-position: center;
    position: relative;
}

.slider_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.button_wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcome_wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.booking_button {
    background-color: var(--main);
}

.booking_button:hover {
    transform: translateY(-1px);
}
.booking_button:active {
    transform: translateY(0);
}

